@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Pacifico&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;

}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body{
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  */
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-image: url(/images/sky-background-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 600;
    
}

header{
    width: 100%;
    height: 160px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.input-h1 > h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    
    font-family: 'Pacifico', cursive;
    font-weight: 900;
}

.row{
    display: flex;
    position: relative;
}

input{
    width: 100%;
    flex: 1;
    padding: 10px 20px;
    font-size: 17px;
    box-shadow: 1px 20px 20px 0px rgba(0, 0, 0, 0.2);


    border: none;
    outline: none;
    border-radius: 10px;
}

button{
    position: absolute;
    font-family: 'Pacifico', cursive;
    font-size: 17px;
    right: 0;
    border: none;
    border-bottom: 1px  #fce38a solid;
    border-color: black;
    padding: 5px 20px;
    background-color: #1f5ae4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

button:hover{
    background-color: #06a0ff;
}

.content{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.row-1{
    display: flex;
    flex-direction: column;
    
    width: 240px;
    height: 280px;
    /* background: linear-gradient(135deg, #e78182, #edb487); */
    /* background: linear-gradient(135deg, #e46769, #eba36c); */
    background-color: #58b1ff;
    border-radius: 15px;
    box-shadow: 1px 20px 20px 0px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    padding: 20px;
}

.row-1_colum{
    width: 100%;
    height: 100%;
    margin: auto;

    position: relative;
}

.row-1_colum > p{
    font-size: 54px;
}

.row-1 > p{
    margin-top: auto;
}

.img-weather{
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 150px;
}

#number1, #number2{
    font-size: 24px;
}

.row-2_card-2{
    margin-top: 20px;
}

.row-2_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 290px;
    height: 150px;
    /* background: linear-gradient(135deg, #e46769, #eba36c); */
    background-color: #58b1ff;
    border-radius: 15px;
    box-shadow: 1px 20px 20px 0px rgba(0, 0, 0, 0.2);
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 15px;
    stroke-dasharray:307;
    stroke-dashoffset: 307;
    transform: rotate(2deg);
}

.circle1{
}

.circle2{
}

@keyframes anim1 {
    to {
        stroke-dashoffset: var(--custom-dashoffset-One, 307);
    }
}

@keyframes anim2 {
    to {
        stroke-dashoffset: var(--custom-dashoffset-Sec, 307);
    }
}

.procent-card-1{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    margin-left: -65px;
    width: 50%;
    height: 100%;
}

svg{
    position: absolute;
}






footer{
    background-color: #fce38a2f;
    padding: 10px;
    margin-top: auto;
}