<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
</head>
<body>
    <header>
            <div class="input-h1">
                <h1>Weather forecast</h1>
                <form action="#" th:action="@{/city}" th:object="${city}" method="post">
                    <div class="row">
                        <input id="input-city" th:field="*{town}" type="text" placeholder="Enter the name of the city">
                        <button id="btn-view">View</button>
                    </div>
                </form>
            </div>
    </header>
    <div class="content">
        <div class="row-1">
            <h2>
                <p th:text="${weatherEntity.location.name}" />
            </h2>

            <span><p th:text="${weatherEntity.location.country}" /></span>
            <div class="row-1_colum">
                <p th:text="${weatherEntity.current.temp_c}" />
                <script inline="javascript">
                    var myValue = 32;
                </script>
                <img class="img-weather" th:src="${weatherEntity.current.condition.icon}" alt="">
            </div>
            <p th:text="${weatherEntity.current.condition.text}" />
        </div>
        <div class="row-2">
            <div class="row-2_cards row-2_card-1">
               <div class="procent-card-1">
                    <div id="number1">
                        
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#FD7334" />
                            <stop offset="100%" stop-color="#D73A33" />
                        </linearGradient>
                        </defs>
                    <circle class="circle1" cx="80" cy="80" r="50" stroke-linecap="round" />
                    </svg>
               </div>
               <p class="h1">Humidity</p>
            </div>
            <div class="row-2_cards row-2_card-2">
                <div class="procent-card-1">
                     <div id="number2">
                         
                     </div>
                     <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                         <defs>
                         <linearGradient id="GradientColor">
                             <stop offset="0%" stop-color="#FD7334" />
                             <stop offset="100%" stop-color="#D73A33" />
                         </linearGradient>
                         </defs>
                     <circle class="circle2" cx="80" cy="80" r="50" stroke-linecap="round" />
                     </svg>
                </div>

                <p class="h1">Cloudiness</p>
             </div>
        </div>
    </div>
    <footer>
        
    </footer>
    <script src="js/main.js"></script>
</body>
</html>